extends ../../layouts/defautl.pug
include ../../mixins/infostatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main 
  h1 Danh sách sản phẩm 
  +alert-success()
  .card.mb-3 
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row 
        .col-6
          +infoStatus(infoButtons)
        .col-6 
          +search(keyword)
  .card.mb-3 
    .card-header Sắp xếp
    .card-body  
      .row 
        .col-4 
          +sort()
  .card.mb-3 
    .card-header Danh sách sản phẩm  
    .card-body 
      .row 
        .col-8
          +form-change-multi()
        .col-4 
          a(
            href=`${prefixAdmin}/products/create`
            class="btn btn-outline-success"
          ) + Thêm mới
      table.table.table-hover.table-sm 
        thead 
          tr 
            th
              input(type="checkbox" name="checkall")
            th STT 
            th Hình ảnh
            th Tiều đề
            th Giá
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
          each item, index in products
            tr
              td 
                input(type="checkbox" name="id" value=item.id)
              td #{pagination.skipItems + index + 1}
              td
                img(
                  src=item.image
                  alt="San pham"
                  width="100px"
                  height="auto"
                )
              td #{item.name}
              td $#{item.priceCents}
              td 
                input(
                  type="number"
                  value=item.position
                  style="width: 60px"
                  min="1"
                  name="position"
                )
              td 
                if(item.status == "active")
                  a(
                    href="javascript:;" 
                    class="badge badge-success"
                    status=item.status 
                    id=item.id 
                    button-change-status
                  ) Hoạt động
                else 
                  a(
                    href="javascript:;" 
                    class="badge badge-danger"
                    status=item.status 
                    id=item.id 
                    button-change-status
                  ) Ngừng hoạt động
              td
                a(
                  href=`${prefixAdmin}/products/detail/${item.id}`
                  class="btn btn-secondary btn-sm"
                ) Chi tiết
                a(
                  href=`${prefixAdmin}/products/edit/${item.id}`
                  class="btn btn-warning btn-sm"
                ) Sửa
                button(
                  class="btn btn-danger btn-sm ml-1"
                  delete-button 
                  data-id=item.id
                ) Xóa
  +pagination(pagination)

  form(
    action=""
    method="POST"
    path=`${prefixAdmin}/products/change-status`
    id="form-change-status"
  ) 
  form(
    action=""
    method="POST"
    path=`${prefixAdmin}/products/delete`
    id="form-delete"
  ) 
  script(src="/admin/js/product.js")