extends ../../layouts/defautl.pug 
include ../../mixins/infostatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi-category.pug
include ../../mixins/alert.pug
include ../../mixins/sort-category.pug
include ../../mixins/table-tree.pug

block main
  h1 Danh mục sản phẩm
  +alert-success()
  .card.mb-3 
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row 
        .col-6
          +infoStatus(infoButtons)
        .col-6 
          +search(keyword)
  .card.mb-3 
    .card-header Sắp xếp
    .card-body  
      .row 
        .col-4 
          +sort()
  .card.mb-3 
    .card-header Danh mục
    .card-body 
      .row 
        .col-8
          if role.permissions.includes("products-category_edit")
            +form-change-multi()
        .col-4 
          if role.permissions.includes("products-category_create")
            a(
              href=`${prefixAdmin}/products-category/create`
              class="btn btn-outline-success"
            ) + Thêm mới

      table.table.table-hover.table-sm.mt-3
        thead 
          tr 
            th
              input(type="checkbox" name="checkall")
            th STT 
            th Hình ảnh
            th Tiều đề
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
          +table-tree(records)
  form(
    action=""
    method="POST"
    path=`${prefixAdmin}/products-category/change-status`
    id="form-change-status"
  ) 
  form(
    action=""
    method="POST"
    path=`${prefixAdmin}/products-category/delete`
    id="form-delete"
  ) 
  script(src="/admin/js/product.js")