mixin table-tree(records, level = 1) 
  each item, index in records
    - const prefix = Array(level + 1).join("-- ")
    tr
      td 
        input(type="checkbox" name="id" value=item.id)
      td #{index + 1}
      td
        img(
          src=item.image
          alt="San pham"
          width="100px"
          height="auto"
        )
      td #{prefix}#{item.name}
      td 
        input(
          type="number"
          value=item.position
          style="width: 60px"
          min="1"
          name="position"
        )
      td 
        if(item.status == "active")
          a(
            href="javascript:;" 
            class="badge badge-success"
            status=item.status 
            id=item.id 
            button-change-status
          ) Hoạt động
        else 
          a(
            href="javascript:;" 
            class="badge badge-danger"
            status=item.status 
            id=item.id 
            button-change-status
          ) Ngừng hoạt động
      td
        a(
          href=`${prefixAdmin}/products-category/detail/${item.id}`
          class="btn btn-secondary btn-sm"
        ) Chi tiết
        a(
          href=`${prefixAdmin}/products-category/edit/${item.id}`
          class="btn btn-warning btn-sm"
        ) Sửa
        button(
          class="btn btn-danger btn-sm ml-1"
          delete-button 
          data-id=item.id
        ) Xóa
      if item.children && item.children.length > 0
        +table-tree(item.children, level + 1)