.container-sider 
  .menu 
    a(href=`${prefixAdmin}/dashboard`)
      h2 Tổng quan
    a(href=`${prefixAdmin}/products-category`)
      h2 Danh mục sản phẩm
    a(href=`${prefixAdmin}/products`)
      h2 Danh sách sản phẩm
    a(href=`${prefixAdmin}/roles`)
      h2 Nhóm quyền
    a(href=`${prefixAdmin}/roles/permissions`)
      h2 Phân quyền